<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form name="form1" method="POST" action="">
      <table>
          <tr>
          <textarea id="userInput" name="userInput" rows="10" cols="50" placeholder="Paste your text here...."></textarea>
          </tr>
          <tr>
          <td colspan="2"><input type="submit" value="Save" ></td>
          </tr>
      </table>
      </form>   
  </body>
</html>