<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form name="form1" method="POST" action="">
      <table>
          <tr>
          <textarea id="userInput" name="userInput" rows="10" cols="50" placeholder="Paste your text here...."></textarea>
          </tr>
          <tr>
          <td colspan="2"><input type="submit" value="Save" ></td>
          </tr>
      </table>
    </form>
    <div class="table-data">
      <h2>Recent submissions:</h2>
        <table border="1">
          <tr>
            <th>ID</th>
              <th>Content</th>
              <th>Inserted at</th>
          </tr> 
          <% if(userData.length > 0){
            var i=1;
            userData.forEach(function(data){
          %>
          <tr>
            <td><%=data.id %></td>
            <td><%=data.content %></td>
            <td><%=data.insertedAt %></td>
          </tr>
          <%  i++; }) %>
          <% } 
          else { %>
          <tr>
            <td colspan="7">Your submissions will be visible here</td>
          </tr>
          <% } %>
        </table>
    </div>   
  </body>
</html>